.App {
  text-align: center;
}

input {
  border: 1px white solid;
  height: 30px;
  width: 140px;
  font-size: 1em;
  color: gray;
  background-color: darkgray;
  opacity: 0.8;
  font-weight: bold;
}

